
html, body{ height: 100%; width: 100%; margin: 0; padding: 0; }
#map{height: 90%;width: 100%;margin: 0;padding: 0;z-index: 1;}
.header{height: 50px;width: 100%;background-color: #333;box-shadow: 0 -2px 2px #000;margin-top: 0px;z-index: 500;}
.header>.choice-button{height: 100%;margin: 0;border-width:0px;border-radius: 3px;background-color:#184aff;cursor: pointer;outline: none;font-family: "microsoft yahei";color: white;font-size: 17px; beige;display: inline-block;}
.header ul{
    list-style: none;
}
.header ul li{
    float: left;
    width: 150px;
    height: 50px;
    background: #222;
    margin-right: 1px;
    font-size: 14px;
}
.header ul li:hover{
    color: #fff;
    background:rgba(223,82,83,1);
    animation:changeColor 2s infinite;
    animation-delay: 3s;
}
.header ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.header ul li ul{
    position: absolute;
    z-index: 400;
}
.header ul li ul li{
    display: none;
    width: 150px;
    height: 50px;
    float: initial;
    background: rgba(1,163,164,1);
    font-size: 10px;
    transition: 0.3s;
}
.header ul li:hover ul li{
    display: block;
    border-top: 1px solid rgba(72,219,251,0.5);
}



img{max-height: 100%;width: auto;display: inline-block;}

#popup
{
    position: fixed;
    height: 400px;
    width: 650px;
    left: 50%;
    top: 50%;
    z-index: 2;
    background-color:rgba(82, 175, 218,0.75);
    transform: translate(-50%,-50%);
    visibility: hidden;
}
#popup.active
{
    visibility: visible;
}
#popup .content
{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popup .content h2
{
    margin-bottom: 30px;
}
#popup .content .locformchoice p
{
    display: inline-block;
}
#popup .content .locat
{
    margin-top: 50px;
}
#popup .content .locat p
{
    display: inline-block;
}
#popup .content .locatbtn
{
    margin-top: 50px;
}
#popup .content .locatbtn input
{
    margin-left: 30px;
}
#popup2
{
    position: fixed;
    height: 400px;
    width: 650px;
    left: 50%;
    top: 50%;
    background-color:rgba(82, 175, 218, 0.5);
    transform: translate(-50%,-50%);
    visibility: hidden;
}
#popup2.active
{
    visibility: visible;
}
#popup2 .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    line-height: 50px;
}
#popup2 .content label
{
    display: inline-block;
}
#popup2 .content select
{
    width: 100px;
}
#popup2 .content .btndiv input
{
    margin-left: 30px;
    width: 100px;
}
#chart
{
    position: absolute;
    height: 500px;
    width: 650px;
    left: 50%;
    top: 50%;
    background-color:rgba(241, 246, 248, 1);
    z-index: 5;
    transform: translate(-50%,-50%);
    visibility: hidden;
}